DFDL TASK/Company1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:initiator="Company[" dfdl:terminator="]%CR;%LF;" ibmSchExtn:docRoot="true" name="Company1">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:sequenceKind="ordered">
                				                			                                                    <xsd:element dfdl:initiator="compName=" dfdl:terminator="%CR;%LF;" name="CompanyName" type="xsd:string"/>
                <xsd:element dfdl:initiator="Employee(" dfdl:occursCountKind="parsed" dfdl:terminator=")%CR;%LF;" maxOccurs="2" name="Employee">
          <xsd:complexType>
            <xsd:sequence dfdl:separator="|">
              <xsd:element dfdl:initiator="empNum=" dfdl:textNumberPattern="#0" name="EmpNo" type="xsd:string"/>
              <xsd:element dfdl:initiator="dept=" name="Dept" type="xsd:string"/>
              <xsd:element dfdl:initiator="empName=" name="EmpName" type="xsd:string"/>
              <xsd:element name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="field1" type="xsd:string"/>
                    <xsd:element name="field2" type="xsd:string"/>
                    <xsd:element name="field3" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element dfdl:initiator="tel=" name="tel" type="xsd:string"/>
              <xsd:element dfdl:initiator="sal=" name="sal" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>