DFDL TASK/csvtest1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="csvtest1">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ibmDfdlExtn:sampleValue="head_value1" name="policyID" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="head_value2" name="statecode" type="xsd:string"/>							
							<xsd:element ibmDfdlExtn:sampleValue="head_value3" name="county" type="xsd:string"/>							
                            <xsd:element ibmDfdlExtn:sampleValue="head_value4" name="eq_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value5" name="hu_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value6" name="fl_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value7" name="fr_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value8" name="tiv_2011" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value9" name="tiv_2012" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value10" name="eq_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value11" name="hu_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value12" name="fl_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value13" name="fr_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value14" name="point_latitude" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value15" name="point_longitude" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value16" name="line" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value17" name="construction" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value18" name="point_granularity" type="xsd:string"/>
                                                                                                                                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>			
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="policyID" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="statecode" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="county" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="eq_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" name="hu_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value6" name="fl_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value7" name="fr_site_limit" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value8" name="tiv_2011" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value9" name="tiv_2012" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value10" name="eq_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value11" name="hu_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value12" name="fl_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value13" name="fr_site_deductible" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value14" name="point_latitude" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value15" name="point_longitude" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value16" name="line" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value17" name="construction" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value18" name="point_granularity" type="xsd:string"/>
                                                                                                                                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>